<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brav</title>
    <link rel="stylesheet" href="../styles/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../styles/font-awesome.min.css" type="text/css">
    <link rel='stylesheet' href='../styles/fullcalendar.min.css' />
    <link rel='stylesheet' href='../styles/fullcalendar.print.min.css' />
    <link rel='stylesheet' href='../styles/scheduler.min.css' />
    <link rel="stylesheet" href="../styles/style.css" type="text/css">

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/sweet-alert.min.js"></script>
    <script src='../js/moment.min.js'></script>
    <script src='../js/fullcalendar.min.js'></script>
    <script src='../js/scheduler.js'></script>
    <!-- <script src='../js/app.js'></script> -->

</head>

<body style="background: #FFF">
    <!-- <div class="video-call">
        <div class="top-header">
            <img src="images/header-logo.png" alt="">
        </div>
        <div class="top-header-right">
            <ul>
                <li><a href="#" id="chat"><i class="fa fa-comments" aria-hidden="true"></i></a></li>
                <li><a href="/note/create" id="notes"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></li>
                <li><a href="#" id="alert-msg"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                <li><a href="#"><img src="images/user-img.jpg" class="user-img" alt=""></a></li>
            </ul>
        </div>

    </div>
    <div class="left-side-bar">
        <ul>
            <li><a href="/note/view"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>

            <li class="active">
                <a href="/task">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </a>
            </li>
            <li id="mediator">
                <a>
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="right-popup">
        <div class="chat-panel" style="display: none">
            <div class="user-container">
                <ul id="users">

                </ul>
            </div>
        </div>
        <div class="notes-panel" style="display: none"></div>
        <div class="alert-panel" style="display: none"></div>
        <div class="profile-edit text-center" style="display: none">
            <img src="../images/user-img.jpg" alt="">
            <div class="your-account">
                <a href="/profile">Your Account</a>
            </div>
            <div class="logout">
                <a href="#" id="logout">Logout</a>
            </div>

        </div>
    </div> -->


<% include ../header %>
    <div class="right-side-panel">
        <div class="container container-top-margin">
            <a href="/schedule" class="add-schedule-btn"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <!-- <div id="calendar"></div> -->
            <div id="calendar"></div>
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 class="modal-title text-center" id="calenderTitle"></h3>
                        </div>
                        <div class="modal-body">
                            <h4>Description</h4>
                            <p id="calenderDescrption"></p>
                            <h4>Date</h4>
                            <p><span id="startDate"></span> <span id="endDate"></span> <span id="time"></span></p>
                            <h4>Availabilty</h4>
                            <p id="availabilty"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="chat-container">
        <ul id="chats">
        </ul>
    </div>
    <!--right-side-panel closed -->
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                editable: true, // enable draggable events
                aspectRatio: 1.8,
                scrollTime: '00:00', // undo default 6am scrollTime
                header: {
                    left: 'today prev,next',
                    center: 'title',
                    right: 'agendaWeek,month'//timelineDay,timelineThreeDays,
                },
                resourceLabelText: 'Rooms',
                events: {
                    url: '/schedule/getschedule',
                    textColor: 'black'
                },
                    eventRender: function (event, element) {
                        element.attr('href', 'javascript:void(0);');
                        element.click(function () {
                            console.log(event)
                            if (event.start)
                                $("#startDate").html("On : " + moment(event.start).format("MMM DD, YYYY"));
                            else
                                $("#startDate").text("");
                            if (event.end)
                                $("#endDate").html("<br/>Till : " + moment(event.end).format("MMM DD, YYYY"));
                            else
                                $("#endDate").text("");
                            if (event.time)
                                $("#time").html("<br/>Time : " + event.time);
                            else
                                $("#time").text("");
                            $("#calenderTitle").text(event.title);
                            $("#calenderDescrption").text(event.description);
                            if(event.availabilty){
                                var avail = JSON.parse(event.availabilty).join(',');
                                $("#availabilty").text(avail);
                            }else{
                                $("#availabilty").text();
                            }
                            $('#myModal').modal('show')
                        });
                    }
            });

            
        });
    </script>
</body>

</html>