<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brav</title>
  <link rel="stylesheet" href="../styles/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="../styles/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../styles/style.css" type="text/css">
  <!-- fonts link -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700" rel="stylesheet">
  <!-- font awesome link -->
</head>

<body style="background: #FFF">
  <div class="video-call">
    <div class="top-header">
      <img src="../images/header-logo.png" alt="">
    </div>
    <div class="top-header-right">
      <ul>
        <li>
          <a href="#" id="online-users">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" id="chat">
            <span id="total-newmsg" class="notification-count"></span>
            <i class="fa fa-comments" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" id="notes">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <span id="total-notifications" class="notification-count"></span>
          <a href="#" id="alert-msg">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../images/user-img.jpg" class="user-img" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="left-side-bar">
    <ul>
      <li>
        <a href="/fileupload">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </a>
      </li>
      <li class="active">
        <a href="/task">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="right-popup">
    <div class="user-panel" style="display: none">
      <div class="user-container">
        <ul id="users">

        </ul>
      </div>
    </div>
    <div class="chat-panel" style="display: none">
      <!-- <div class="chat-container"> -->
      <ul id="new-chats" class="top-menus">

      </ul>
      <!-- </div> -->
    </div>
    <div class="notes-panel" style="display: none">
      <div id="my-notes">
        <div class="new-note">
          <p class="">
            <span>
              << </span>
                <a href="/note/create" class="pull-right">New Note</a>
          </p>
        </div>
        <ul id="display-notes">

        </ul>
      </div>
    </div>
    <div class="alert-panel" style="display: none">
      <ul id="notifications" class="top-menus">

      </ul>
    </div>
    <div class="profile-edit text-center" style="display: none">
      <img src="../images/user-img.jpg" alt="">
      <div class="your-account">
        <a href="/profile">Your Account</a>
      </div>
      <div class="logout">
        <a href="#" id="logout">Logout</a>
      </div>
    </div>
  </div>
  <div class="right-side-panel main-container" id="">
    <div class="container container-top-margin">
      <div class="col-md-8 create-availability">
        <h1>thanks,</h1>
        <h4>Thank you for your request we will notify you when a session succfessfully scheduled!</h4>
        <div class="clearfix"></div>
        <div class="col-md-3 padding-zero">
          <a href="/task">
            <button type="submit" class="btn btn-default login-btn check-schedule">CHECK SCHEDULE</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--right-side-panel closed -->
</body>

</html>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script>
  $('document').ready(function () {

    // $(".user-img").click(function () {
    //   $(".profile-edit").toggle();
    // });
    // $('#chat').on('click', function () {
    //   if ($('.right-side-panel').hasClass('main-container')) {
    //     $('.right-side-panel').removeClass('main-container');
    //     $('.right-side-panel').addClass('after-container');
    //     $(".chat-panel").show();
    //   } else {
    //     $('.right-side-panel').addClass('main-container');
    //     $('.right-side-panel').removeClass('after-container');
    //     $(".chat-panel").hide();
    //   }
    // });

    // $("#notes").click(function () {
    //   $(".notes-panel").toggle();
    // });
    // $("#alert-msg").click(function () {
    //   $(".alert-panel").toggle();
    // });

    // $(".user-img").click(function () {
    //   $(".profile-edit").toggle();
    // });

  });

</script>
