<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brav</title>
    <link rel="stylesheet" href="../styles/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../styles/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../styles/style.css" type="text/css">
    <!-- fonts link -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700" rel="stylesheet">
    <!-- font awesome link -->
</head>

<body style="background: #FFF">
    <% include ../header %>
    <div class="right-side-panel main-container" id="">
        <div class="container container-top-margin">
            <div class="col-md-8 create-availability">
                <h1>thanks,</h1>
                <h4>Thank you for your request we will notify you when a session succfessfully scheduled!</h4>
                <div class="clearfix"></div>
                <div class="col-md-3 padding-zero">
                    <a href="/task"><button type="submit" class="btn btn-default login-btn check-schedule" >CHECK SCHEDULE</button></a>
                </div>
            </div>
        </div>
    </div>
    <!--right-side-panel closed -->
</body>

</html>
