<body style="background: #FFF">
  <div class="video-call">
    <div class="top-header">
      <img src="../images/header-logo.png" alt="">
    </div>
    <div class="top-header-right">
      <ul>
        <li>
          <a href="#" id="online-users">
            <i class="fa fa-user" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" id="chat">
            <span id="total-newmsg" class="notification-count"></span>
            <i class="fa fa-comments" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" id="notes">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <span id="total-notifications" class="notification-count"></span>
          <a href="#" id="alert-msg">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../images/user-img.jpg" class="user-img" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="left-side-bar">
    <ul>
      <li class="active">
        <a href="/fileupload">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="/task">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-video-camera" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="right-popup">
    <div class="user-panel" style="display: none">
      <div class="user-container">
        <ul id="users">

        </ul>
      </div>
    </div>
    <div class="chat-panel" style="display: none">
      <!-- <div class="chat-container"> -->
      <ul id="new-chats" class="top-menus">

      </ul>
      <!-- </div> -->
    </div>
    <div class="notes-panel" style="display: none">
      <div id="my-notes">
        <div class="new-note">
          <p class="">
            <span>
              << </span>
                <a href="/note/create" class="pull-right">New Note</a>
          </p>
        </div>
        <ul id="display-notes">

        </ul>
      </div>
    </div>
    <div class="alert-panel" style="display: none">
      <ul id="notifications" class="top-menus">

      </ul>
    </div>
    <div class="profile-edit text-center" style="display: none">
      <img src="../images/user-img.jpg" alt="">
      <div class="your-account">
        <a href="/profile">Your Account</a>
      </div>
      <div class="logout">
        <a href="#" id="logout">Logout</a>
      </div>
    </div>
  </div>
  <div class="right-side-panel">
    <div class="container container-top-margin">

      <form id="uploadForm" enctype="multipart/form-data" action="/fileupload/upload" method="post">
        <div class="upload-btn-wrapper">
          <button class="btn-upload">
            <i class="fa fa-upload"></i> Select a file
            <input type="file" name="uploadFile" />
          </button>

          <input type="submit" value="UPLOAD" />
        </div>
      </form>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul id="user-files">

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--right-side-panel closed -->

  <script src="../js/jquery.min.js"></script>
  <!-- <script src="../js/app.js"> -->


  </script>
</body>
