<div class="login-container">
  <div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center margin-top-login">
      <div class="login-logo">
        <img src="images/login-log.png" alt="" class="">
      </div>
      <form>
        <div class="form-group">
          <input type="text" class="form-control txt-username" id="firstName" placeholder="First Name" ng-model="USC.register.firstname">
          <input type="text" class="form-control txt-username" id="middleName" placeholder="Middle name">
          <input type="text" class="form-control txt-username" id="LastName" placeholder="Last Name">
          <input type="text" class="form-control txt-username" id="username" placeholder="Username">
          <input type="password" class="form-control txt-username" id="password" placeholder="Password">
          <input type="password" class="form-control txt-username" id="repeatPassword" placeholder="Repeat Password">
          <p id="errMsg"></p>
          <!-- <button type="button" class="btn btn-default login-btn" id="nextBtn">next</button> -->
          <button type="button" class="btn btn-default login-btn" id="registerBtn">Register</button>
        </div>
      </form>
      <div class="password-link text-center">
        <a href="/" id="login-user">Already Registered!!!</a>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
