<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brav</title>
    <!-- style file link -->
    <link rel="stylesheet" href="../styles/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../styles/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../styles/style.css" type="text/css">
    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular" rel="stylesheet" type="text/css">
</head>

<body style="background: #FFF">
    <% include ../header %>
    <div class="right-side-panel">
        <div class="container container-top-margin">
            <div class="row" id="mynotes">
                
            </div>
        </div>
    </div>

    <div class="chat-container">
        <ul id="chats">
        </ul>
    </div>
    <!--right-side-panel closed -->
</body>

</html>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/sweet-alert.min.js"></script>
<script src="../js/app.js"></script>

<script>
    $(document).ready(function () {
        var meUser;
        if (sessionStorage.getItem('bravUser')) {
            meUser = JSON.parse(sessionStorage.getItem('bravUser'))
        } else {
            window.location = '/';
        }


        $.ajax({
            method: "GET",
            url: '/note/notes',
            success: function (res) {
                console.log('notes res', res)
                if (res.success && res.data.length > 0) {
                    var _main = $('#mynotes');
                    for(var i=0; i < res.data.length; i++){
                        var _note = $('<div class="main"></div>')
                        $(_note).html(res.data[i].note);
                        console.log($(_note))
                        $(_main).append($(_note));
                    }
                } else {
                    swal({ title: res.msg, icon: "info" });
                }
            },
            error: function (err) {

            },
            dataType: 'JSON'

        });


    });

</script>